In [1]:
import pandas as pd

# Import data

In [2]:
df = pd.read_csv("Dataset/NBA_2018-19_Season.csv")
df.head(10)

,Conference,Division,Team,Player,Age,Games,Games Started,Minutes Played,Field Goals,Field Goal Attempts,...,Free Throw Percentage,Offensive Rebounds,Defensive Rebounds,Total Rebounds,Assists,Steals,Blocks,Turnovers,Personal Fouls,Points
0,Eastern,Atlantic,Boston Celtics,Jayson Tatum,20,79,79,2455,466,1036,...,0.855,70,407,477,168,84,57,122,168,1243
1,Eastern,Atlantic,Boston Celtics,Kyrie Irving,26,67,67,2214,604,1241,...,0.873,71,264,335,464,103,34,172,167,1596
2,Eastern,Atlantic,Boston Celtics,Marcus Smart,24,80,60,2200,239,567,...,0.806,57,177,234,321,143,28,123,201,708
3,Eastern,Atlantic,Boston Celtics,Marcus Morris,29,75,53,2091,377,844,...,0.844,76,382,458,109,43,25,92,181,1046
4,Eastern,Atlantic,Boston Celtics,Al Horford,32,68,68,1973,387,723,...,0.821,120,338,458,283,59,86,102,126,925
5,Eastern,Atlantic,Boston Celtics,Jaylen Brown,22,74,25,1913,368,792,...,0.658,65,248,313,100,69,32,99,186,964
6,Eastern,Atlantic,Boston Celtics,Gordon Hayward,28,72,18,1863,296,635,...,0.834,51,271,322,244,62,23,105,104,825
7,Eastern,Atlantic,Boston Celtics,Terry Rozier,24,79,14,1791,258,666,...,0.785,32,275,307,231,68,21,68,101,708
8,Eastern,Atlantic,Boston Celtics,Daniel Theis,26,66,2,908,146,266,...,0.737,87,138,225,68,21,42,33,161,374
9,Eastern,Atlantic,Boston Celtics,Aron Baynes,32,51,18,821,105,223,...,0.855,88,152,240,57,12,34,40,125,284

# 1) Find out the average age of the player who have played for NBA?

In [3]:
df['Age'].mean()

26.04823151125402

# 2) Find out that each player have played how many games?

In [4]:
df[['Player', 'Games']]

                   Player  Games
0            Jayson Tatum     79
1            Kyrie Irving     67
2            Marcus Smart     80
3           Marcus Morris     75
4              Al Horford     68
..                    ...    ...
617           Salah Mejri     36
618          Courtney Lee     22
619           Daryl Macon      8
620  Kostas Antetokounmpo      2
621          Ray Spalding      1

[622 rows x 2 columns]

# 3) Total how many teams are there in NBA?

In [5]:
len(df['Team'].unique())

30

# 4) What is the minimum age of the player that have played for NBA?

In [6]:
df['Age'].min()

19

# 5) What is the maximum age of the player that have played for NBA and display its details?

In [7]:
df[df['Age'] == df['Age'].max()]

,Conference,Division,Team,Player,Age,Games,Games Started,Minutes Played,Field Goals,Field Goal Attempts,...,Free Throw Percentage,Offensive Rebounds,Defensive Rebounds,Total Rebounds,Assists,Steals,Blocks,Turnovers,Personal Fouls,Points
302,Eastern,Southeast,Atlanta Hawks,Vince Carter,42,76,9,1330,196,468,...,0.712,31,163,194,87,44,27,48,141,562

# 6) Find out how many games have been organized in Eastern region.

In [8]:
df[df['Conference'] == 'Eastern'].count()['Games']

316

# 7) Find out the how many regions are there were the games have been organized?

In [9]:
len(df['Conference'].unique())

2

# 8) Find Display the list of the player who have played in the team called "Boston Celtics"

In [10]:
df[df['Team'] == "Boston Celtics"]['Player']

0           Jayson Tatum
1           Kyrie Irving
2           Marcus Smart
3          Marcus Morris
4             Al Horford
5           Jaylen Brown
6         Gordon Hayward
7           Terry Rozier
8           Daniel Theis
9            Aron Baynes
10          Semi Ojeleye
11        Brad Wanamaker
12       Robert Williams
13    Guerschon Yabusele
14             PJ Dozier
15           R.J. Hunter
16           Greg Monroe
Name: Player, dtype: object

# 9) Find out the total number of games organized in each division?

In [11]:
group = df.groupby('Division')
group.sum()['Games']

Division
Atlantic     4319
Central      4345
Northwest    4396
Pacific      4453
Southeast    4312
Southwest    4276
Name: Games, dtype: int64

# 10) Which player have scored the maximum number of goals?

There are 3 Goals: Field goals, 3-points field goals, & 2-points field goals. Just use maximum field goals!

In [13]:
df[df['Field Goals'] == df['Field Goals'].max()]

,Conference,Division,Team,Player,Age,Games,Games Started,Minutes Played,Field Goals,Field Goal Attempts,...,Free Throw Percentage,Offensive Rebounds,Defensive Rebounds,Total Rebounds,Assists,Steals,Blocks,Turnovers,Personal Fouls,Points
514,Western,Southwest,Houston Rockets,James Harden,29,78,78,2867,843,1909,...,0.879,66,452,518,586,158,58,387,244,2818

# 11) Which player have the lowest number of personal fouls?

In [16]:
df[df['Personal Fouls'] == df['Personal Fouls'].min()][['Player', 'Personal Fouls']]

                    Player  Personal Fouls
16             Greg Monroe               0
130           Trevon Duval               0
147           Ike Anigbogu               0
165  Sviatoslav Mykhailiuk               0
167            Zach Lofton               0
189             Tyler Ulis               0
215           Kobi Simmons               0
216           John Holland               0
233           Troy Caupain               0
249            J.P. Macura               0
267            Yante Maten               0
268          Emanuel Terry               0
292           John Jenkins               0
293            Okaro White               0
315          Jordan Sibert               0
385         Donte Grantham               0
386            Tyler Davis               0
387            Jawun Evans               0
408            Mitch Creek               0
489           Andre Ingram               0
512            George King               0
534          Vince Edwards               0
536                Zhou Qi               0
579          D.J. Stephens               0
620   Kostas Antetokounmpo               0
621           Ray Spalding               0

# 12) Which player have attempted the 3-points field goals the highest time and what are the percentage of it?

In [20]:
df[df['3-Point Field Goal Attempts'] == df['3-Point Field Goal Attempts'].max()][['Player', '3-Point Field Goal Percentage']]

           Player  3-Point Field Goal Percentage
514  James Harden                          0.368

# 13) What is the average point scored by all the players?

In [23]:
df['Points'].sum() / len(df['Points'])

439.82797427652736