# Import dataset "Rental Bike Share Prediction"

In [1]:
import pandas as pd
import numpy as np

In [2]:
dfHour = pd.read_csv("dataset/hour.csv")
dfDay = pd.read_csv("dataset/day.csv")

# <center> Hour </center>

In [3]:
dfHour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [4]:
dfHour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

### Do Data Preprocessing!!!

In [5]:
dfHour["season"].replace(1, "springer", inplace=True)
dfHour["season"].replace(2, "summer", inplace=True)
dfHour["season"].replace(3, "fall", inplace=True)
dfHour["season"].replace(4, "winter", inplace=True)

dfHour["yr"].replace(0, "2011", inplace=True)
dfHour["yr"].replace(1, "2012", inplace=True)

dfHour["mnth"].replace(1, "Jan", inplace=True)
dfHour["mnth"].replace(2, "Feb", inplace=True)
dfHour["mnth"].replace(3, "Mar", inplace=True)
dfHour["mnth"].replace(4, "Apr", inplace=True)
dfHour["mnth"].replace(5, "May", inplace=True)
dfHour["mnth"].replace(6, "Jun", inplace=True)
dfHour["mnth"].replace(7, "Jul", inplace=True)
dfHour["mnth"].replace(8, "Aug", inplace=True)
dfHour["mnth"].replace(9, "Sept", inplace=True)
dfHour["mnth"].replace(10, "Oct", inplace=True)
dfHour["mnth"].replace(11, "Nov", inplace=True)
dfHour["mnth"].replace(12, "Dec", inplace=True)

dfHour["hr"] = dfHour["hr"].astype("object")

dfHour["holiday"].replace(0, "no", inplace=True)
dfHour["holiday"].replace(1, "yes", inplace=True)

dfHour["weekday"].replace(0, "Mon", inplace=True)
dfHour["weekday"].replace(1, "Tue", inplace=True)
dfHour["weekday"].replace(2, "Wed", inplace=True)
dfHour["weekday"].replace(3, "Thur", inplace=True)
dfHour["weekday"].replace(4, "Fri", inplace=True)
dfHour["weekday"].replace(5, "Sat", inplace=True)
dfHour["weekday"].replace(6, "Sun", inplace=True)

dfHour["workingday"].replace(1, "no", inplace=True)
dfHour["workingday"].replace(2, "yes", inplace=True)

dfHour["weathersit"] = dfHour["weathersit"].astype("object")

In [6]:
dfHour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  object
 3   yr          17379 non-null  object
 4   mnth        17379 non-null  object
 5   hr          17379 non-null  object
 6   holiday     17379 non-null  object
 7   weekday     17379 non-null  object
 8   workingday  17379 non-null  object
 9   weathersit  17379 non-null  object
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(4), object(9)
memory usage: 2.3+ MB

In [7]:
dfHour = dfHour[['season', 'yr', 'mnth', 'hr', 'holiday', 'weekday', 'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'cnt']]

dfHour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      17379 non-null  object
 1   yr          17379 non-null  object
 2   mnth        17379 non-null  object
 3   hr          17379 non-null  object
 4   holiday     17379 non-null  object
 5   weekday     17379 non-null  object
 6   workingday  17379 non-null  object
 7   weathersit  17379 non-null  object
 8   temp        17379 non-null  float64
 9   atemp       17379 non-null  float64
 10  hum         17379 non-null  float64
 11  windspeed   17379 non-null  float64
 12  cnt         17379 non-null  int64
dtypes: float64(4), int64(1), object(8)
memory usage: 1.7+ MB

### Feature exctration using Correlation

#### For Numerical

In [8]:
from scipy.stats import pearsonr

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [9]:
numLst = ["temp", "atemp", "hum", "windspeed"]
tar = "cnt"
resLst = []

In [10]:
for nl in numLst:
    corr, _ = pearsonr(dfHour[tar], dfHour[nl])
    
    if corr > 0.5 or corr < -0.5:
        resLst.append(
            [nl, corr, "Success"]
        )
    else:
        resLst.append(
            [nl, corr, "Fail"]
        )

In [11]:
resLst = pd.DataFrame(resLst)
resLst.columns = ["Attribute", "Correlation", "Status"]

resLst

   Attribute  Correlation Status
0       temp     0.404772   Fail
1      atemp     0.400929   Fail
2        hum    -0.322911   Fail
3  windspeed     0.093234   Fail

#### For Categorical

In [12]:
from scipy import stats

In [13]:
catLst = ["season", "yr", "mnth", "hr", "holiday", "weekday", "workingday", "weathersit"]
tar = "cnt"
resLst = []

In [14]:
for lol in catLst:
    res = [lol]
    groupedTest = dfHour[[lol, tar]].groupby([lol])
    unique_ = dfHour[lol].unique()
    
    f_val, p_val = stats.f_oneway(
        *(groupedTest.get_group(value)[tar] for value in unique_)
    )
    
    res.append(f_val)
    res.append(p_val)
    
    dfn = len(groupedTest) - 1
    dfd = 0
    for value in unique_:
        dfd += groupedTest.get_group(value)[tar].shape[0]
        
    res.append(
        stats.f.ppf(q=1-0.05, dfn=dfn, dfd=dfd)
    )
    
    resLst.append(res)

In [15]:
resLst = pd.DataFrame(resLst)
resLst.columns = ["Attribute", "F-test", "P-value", "Results"]

resLst

    Attribute       F-test        P-value   Results
0      season   409.181037  7.401071e-257  2.605420
1          yr  1163.365167  7.213184e-247  3.841994
2        mnth   128.102190  5.505685e-284  1.789198
3          hr   759.086281   0.000000e+00  1.529861
4     holiday    16.636980   4.546169e-05  3.841994
5     weekday     3.487790   1.899031e-03  2.099117
6  workingday    15.951823   6.524265e-05  3.841994
7  weathersit   127.173869   1.734782e-81  2.605420

### Do Data transformation!!!

Data transformation converts a raw data into meaningful data for computer. Since categorical variable cannot used in modeling, data transformation can use it.

In [16]:
dfHour = pd.get_dummies(dfHour)

dfHour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 62 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   temp             17379 non-null  float64
 1   atemp            17379 non-null  float64
 2   hum              17379 non-null  float64
 3   windspeed        17379 non-null  float64
 4   cnt              17379 non-null  int64
 5   season_fall      17379 non-null  uint8
 6   season_springer  17379 non-null  uint8
 7   season_summer    17379 non-null  uint8
 8   season_winter    17379 non-null  uint8
 9   yr_2011          17379 non-null  uint8
 10  yr_2012          17379 non-null  uint8
 11  mnth_Apr         17379 non-null  uint8
 12  mnth_Aug         17379 non-null  uint8
 13  mnth_Dec         17379 non-null  uint8
 14  mnth_Feb         17379 non-null  uint8
 15  mnth_Jan         17379 non-null  uint8
 16  mnth_Jul         17379 non-null  uint8
 17  mnth_Jun         17379 non-null  uint8
 18  mnth_Mar         17379 non-null  uint8
 19  mnth_May         17379 non-null  uint8
 20  mnth_Nov         17379 non-null  uint8
 21  mnth_Oct         17379 non-null  uint8
 22  mnth_Sept        17379 non-null  uint8
 23  hr_0             17379 non-null  uint8
 24  hr_1             17379 non-null  uint8
 25  hr_2             17379 non-null  uint8
 26  hr_3             17379 non-null  uint8
 27  hr_4             17379 non-null  uint8
 28  hr_5             17379 non-null  uint8
 29  hr_6             17379 non-null  uint8
 30  hr_7             17379 non-null  uint8
 31  hr_8             17379 non-null  uint8
 32  hr_9             17379 non-null  uint8
 33  hr_10            17379 non-null  uint8
 34  hr_11            17379 non-null  uint8
 35  hr_12            17379 non-null  uint8
 36  hr_13            17379 non-null  uint8
 37  hr_14            17379 non-null  uint8
 38  hr_15            17379 non-null  uint8
 39  hr_16            17379 non-null  uint8
 40  hr_17            17379 non-null  uint8
 41  hr_18            17379 non-null  uint8
 42  hr_19            17379 non-null  uint8
 43  hr_20            17379 non-null  uint8
 44  hr_21            17379 non-null  uint8
 45  hr_22            17379 non-null  uint8
 46  hr_23            17379 non-null  uint8
 47  holiday_no       17379 non-null  uint8
 48  holiday_yes      17379 non-null  uint8
 49  weekday_Fri      17379 non-null  uint8
 50  weekday_Mon      17379 non-null  uint8
 51  weekday_Sat      17379 non-null  uint8
 52  weekday_Sun      17379 non-null  uint8
 53  weekday_Thur     17379 non-null  uint8
 54  weekday_Tue      17379 non-null  uint8
 55  weekday_Wed      17379 non-null  uint8
 56  workingday_0     17379 non-null  uint8
 57  workingday_no    17379 non-null  uint8
 58  weathersit_1     17379 non-null  uint8
 59  weathersit_2     17379 non-null  uint8
 60  weathersit_3     17379 non-null  uint8
 61  weathersit_4     17379 non-null  uint8
dtypes: float64(4), int64(1), uint8(57)
memory usage: 1.6 MB

/home/cskushal18/.local/lib/python3.10/site-packages/pandas/core/algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

### Training and Testing

In [17]:
x = []
y = None

for b in list(dfHour.columns):
    if b != tar:
        x.append(b)

In [18]:
x = dfHour[[
    *(lol for lol in x)
]]

x

,temp,atemp,hum,windspeed,season_fall,season_springer,season_summer,season_winter,yr_2011,yr_2012,...,weekday_Sun,weekday_Thur,weekday_Tue,weekday_Wed,workingday_0,workingday_no,weathersit_1,weathersit_2,weathersit_3,weathersit_4
0,0.24,0.2879,0.81,0.0000,0,1,0,0,1,0,...,1,0,0,0,1,0,1,0,0,0
1,0.22,0.2727,0.80,0.0000,0,1,0,0,1,0,...,1,0,0,0,1,0,1,0,0,0
2,0.22,0.2727,0.80,0.0000,0,1,0,0,1,0,...,1,0,0,0,1,0,1,0,0,0
3,0.24,0.2879,0.75,0.0000,0,1,0,0,1,0,...,1,0,0,0,1,0,1,0,0,0
4,0.24,0.2879,0.75,0.0000,0,1,0,0,1,0,...,1,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,0.26,0.2576,0.60,0.1642,0,1,0,0,0,1,...,0,0,1,0,0,1,0,1,0,0
17375,0.26,0.2576,0.60,0.1642,0,1,0,0,0,1,...,0,0,1,0,0,1,0,1,0,0
17376,0.26,0.2576,0.60,0.1642,0,1,0,0,0,1,...,0,0,1,0,0,1,1,0,0,0
17377,0.26,0.2727,0.56,0.1343,0,1,0,0,0,1,...,0,0,1,0,0,1,1,0,0,0
17378,0.26,0.2727,0.65,0.1343,0,1,0,0,0,1,...,0,0,1,0,0,1,1,0,0,0

In [19]:
y = dfHour[tar]

y

0         16
1         40
2         32
3         13
4          1
        ...
17374    119
17375     89
17376     90
17377     61
17378     49
Name: cnt, Length: 17379, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size=0.3)

### Applying the model

In [22]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(xTrain, yTrain)

LinearRegression()

In [23]:
yPred = lr.predict(xTest)
yPred

array([255.5, -43.5,  74.5, ..., -53.5, -25. , 101.5])

### Use MSE & R**2

In [24]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

score = r2_score(yTest, yPred)
print("R**2 Score: ", score)

mse = mean_squared_error(yTest, yPred)
print("MSE: ", mse)

print("Root MSE: ", np.sqrt(mse))

R**2 Score:  0.6833367870032219
MSE:  9995.396864211738
Root MSE:  99.97698167184153

-------------------------------------------------------------------

In [25]:
from sklearn.preprocessing import PolynomialFeatures

In [26]:
poly = PolynomialFeatures(degree=2)

In [27]:
xPoly = poly.fit_transform(x)

In [28]:
poly.fit(xPoly, y)

PolynomialFeatures()

In [29]:
xTrain, xTest, yTrain, yTest = train_test_split(xPoly, y, test_size=0.3)

In [30]:
lr_2 = LinearRegression()
lr_2.fit(xTrain, yTrain)

LinearRegression()

In [31]:
yPred = lr_2.predict(xTest)
yPred

array([215.765625, 315.109375,   9.640625, ..., 241.828125, 719.265625,
       476.453125])

In [32]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

score = r2_score(yTest, yPred)
print("R**2 Score: ", score)

mse = mean_squared_error(yTest, yPred)
print("MSE: ", mse)

print("Root MSE: ", np.sqrt(mse))

R**2 Score:  -3.8092416855430994e+20
MSE:  1.2406423980218474e+25
Root MSE:  3522275398122.4233

# <center> Day </center>

In [33]:
dfDay.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [34]:
dfDay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [35]:
dfDay["season"].replace(1, "springer", inplace=True)
dfDay["season"].replace(2, "summer", inplace=True)
dfDay["season"].replace(3, "fall", inplace=True)
dfDay["season"].replace(4, "winter", inplace=True)

dfDay["yr"].replace(0, "2011", inplace=True)
dfDay["yr"].replace(1, "2012", inplace=True)

dfDay["mnth"].replace(1, "Jan", inplace=True)
dfDay["mnth"].replace(2, "Feb", inplace=True)
dfDay["mnth"].replace(3, "Mar", inplace=True)
dfDay["mnth"].replace(4, "Apr", inplace=True)
dfDay["mnth"].replace(5, "May", inplace=True)
dfDay["mnth"].replace(6, "Jun", inplace=True)
dfDay["mnth"].replace(7, "Jul", inplace=True)
dfDay["mnth"].replace(8, "Aug", inplace=True)
dfDay["mnth"].replace(9, "Sept", inplace=True)
dfDay["mnth"].replace(10, "Oct", inplace=True)
dfDay["mnth"].replace(11, "Nov", inplace=True)
dfDay["mnth"].replace(12, "Dec", inplace=True)

dfDay["holiday"].replace(0, "no", inplace=True)
dfDay["holiday"].replace(1, "yes", inplace=True)

dfDay["weekday"].replace(0, "Mon", inplace=True)
dfDay["weekday"].replace(1, "Tue", inplace=True)
dfDay["weekday"].replace(2, "Wed", inplace=True)
dfDay["weekday"].replace(3, "Thur", inplace=True)
dfDay["weekday"].replace(4, "Fri", inplace=True)
dfDay["weekday"].replace(5, "Sat", inplace=True)
dfDay["weekday"].replace(6, "Sun", inplace=True)

dfDay["workingday"].replace(1, "no", inplace=True)
dfDay["workingday"].replace(2, "yes", inplace=True)

dfDay["weathersit"] = dfDay["weathersit"].astype("object")

In [36]:
dfDay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    object
 3   yr          731 non-null    object
 4   mnth        731 non-null    object
 5   holiday     731 non-null    object
 6   weekday     731 non-null    object
 7   workingday  731 non-null    object
 8   weathersit  731 non-null    object
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(4), object(8)
memory usage: 91.5+ KB

In [37]:
dfDay = dfDay[["season", "yr", "mnth", "holiday", "weekday", "workingday", "weathersit", "temp", "atemp", "hum", "windspeed", "cnt"]]

dfDay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      731 non-null    object
 1   yr          731 non-null    object
 2   mnth        731 non-null    object
 3   holiday     731 non-null    object
 4   weekday     731 non-null    object
 5   workingday  731 non-null    object
 6   weathersit  731 non-null    object
 7   temp        731 non-null    float64
 8   atemp       731 non-null    float64
 9   hum         731 non-null    float64
 10  windspeed   731 non-null    float64
 11  cnt         731 non-null    int64
dtypes: float64(4), int64(1), object(7)
memory usage: 68.7+ KB

### Feature extraction using Correlation

#### For Numerical

In [38]:
from scipy.stats import pearsonr

In [39]:
numLst = ["temp", "atemp", "hum", "windspeed"]
tar = "cnt"
resLst = []

In [40]:
for nl in numLst:
    corr, _ = pearsonr(dfDay[tar], dfDay[nl])
    
    if corr > 0.5 or corr < -0.5:
        resLst.append(
            [nl, corr, "Success"]
        )
        
    else:
        resLst.append(
            [nl, corr, "Failed"]
        )

In [41]:
resLst = pd.DataFrame(resLst)
resLst.columns = ["Attribute", "Correlation", "Status"]

resLst

   Attribute  Correlation   Status
0       temp     0.627494  Success
1      atemp     0.631066  Success
2        hum    -0.100659   Failed
3  windspeed    -0.234545   Failed

#### For Categorical

In [42]:
from scipy import stats

In [43]:
catLst = ["season", "yr", "mnth", "holiday", "weekday", "workingday", "weathersit"]
tar = "cnt"
resLst = []

In [44]:
for lol in catLst:
    res = [lol]
    groupedTest = dfDay[[lol, tar]].groupby([lol])
    unique_ = dfDay[lol].unique()
    
    f_val, p_val = stats.f_oneway(
        *(groupedTest.get_group(value)[tar] for value in unique_)
    )
    
    res.append(f_val)
    res.append(p_val)
    
    dfn = len(groupedTest) - 1
    dfd = 0
    for value in unique_:
        dfd += groupedTest.get_group(value)[tar].shape[0]
        
    res.append(
        stats.f.ppf(q=1-0.05, dfn=dfn, dfd=dfd)
    )
    
    resLst.append(res)

In [45]:
resLst = pd.DataFrame(resLst)
resLst.columns = ["Attribute", "F-test", "P-value", "Result"]

resLst

    Attribute      F-test       P-value    Result
0      season  128.769622  6.720391e-67  2.617086
1          yr  344.890586  2.483540e-63  3.854211
2        mnth   41.903703  4.251077e-70  1.801738
3     holiday    3.421441  6.475936e-02  3.854211
4     weekday    0.782862  5.834941e-01  2.110965
5  workingday    2.736742  9.849496e-02  3.854211
6  weathersit   40.066045  3.106317e-17  3.008043

### Do Transformation

In [46]:
dfDay = pd.get_dummies(dfDay)

dfDay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   temp             731 non-null    float64
 1   atemp            731 non-null    float64
 2   hum              731 non-null    float64
 3   windspeed        731 non-null    float64
 4   cnt              731 non-null    int64
 5   season_fall      731 non-null    uint8
 6   season_springer  731 non-null    uint8
 7   season_summer    731 non-null    uint8
 8   season_winter    731 non-null    uint8
 9   yr_2011          731 non-null    uint8
 10  yr_2012          731 non-null    uint8
 11  mnth_Apr         731 non-null    uint8
 12  mnth_Aug         731 non-null    uint8
 13  mnth_Dec         731 non-null    uint8
 14  mnth_Feb         731 non-null    uint8
 15  mnth_Jan         731 non-null    uint8
 16  mnth_Jul         731 non-null    uint8
 17  mnth_Jun         731 non-null    uint8
 18  mnth_Mar         731 non-null    uint8
 19  mnth_May         731 non-null    uint8
 20  mnth_Nov         731 non-null    uint8
 21  mnth_Oct         731 non-null    uint8
 22  mnth_Sept        731 non-null    uint8
 23  holiday_no       731 non-null    uint8
 24  holiday_yes      731 non-null    uint8
 25  weekday_Fri      731 non-null    uint8
 26  weekday_Mon      731 non-null    uint8
 27  weekday_Sat      731 non-null    uint8
 28  weekday_Sun      731 non-null    uint8
 29  weekday_Thur     731 non-null    uint8
 30  weekday_Tue      731 non-null    uint8
 31  weekday_Wed      731 non-null    uint8
 32  workingday_0     731 non-null    uint8
 33  workingday_no    731 non-null    uint8
 34  weathersit_1     731 non-null    uint8
 35  weathersit_2     731 non-null    uint8
 36  weathersit_3     731 non-null    uint8
dtypes: float64(4), int64(1), uint8(32)
memory usage: 51.5 KB

/home/cskushal18/.local/lib/python3.10/site-packages/pandas/core/algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

## Training and Testing

In [47]:
x = []
y = None

for b in list(dfDay.columns):
    if b != tar:
        x.append(b)

In [48]:
x = dfDay[[
    *(lol for lol in x)
]]

x

,temp,atemp,hum,windspeed,season_fall,season_springer,season_summer,season_winter,yr_2011,yr_2012,...,weekday_Sat,weekday_Sun,weekday_Thur,weekday_Tue,weekday_Wed,workingday_0,workingday_no,weathersit_1,weathersit_2,weathersit_3
0,0.344167,0.363625,0.805833,0.160446,0,1,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
1,0.363478,0.353739,0.696087,0.248539,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
2,0.196364,0.189405,0.437273,0.248309,0,1,0,0,1,0,...,0,0,0,1,0,0,1,1,0,0
3,0.200000,0.212122,0.590435,0.160296,0,1,0,0,1,0,...,0,0,0,0,1,0,1,1,0,0
4,0.226957,0.229270,0.436957,0.186900,0,1,0,0,1,0,...,0,0,1,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,0.254167,0.226642,0.652917,0.350133,0,1,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
727,0.253333,0.255046,0.590000,0.155471,0,1,0,0,0,1,...,1,0,0,0,0,0,1,0,1,0
728,0.253333,0.242400,0.752917,0.124383,0,1,0,0,0,1,...,0,1,0,0,0,1,0,0,1,0
729,0.255833,0.231700,0.483333,0.350754,0,1,0,0,0,1,...,0,0,0,0,0,1,0,1,0,0
730,0.215833,0.223487,0.577500,0.154846,0,1,0,0,0,1,...,0,0,0,1,0,0,1,0,1,0

In [49]:
y = dfDay[tar]

y

0       985
1       801
2      1349
3      1562
4      1600
       ...
726    2114
727    3095
728    1341
729    1796
730    2729
Name: cnt, Length: 731, dtype: int64

In [50]:
from sklearn.model_selection import train_test_split

xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size=0.3)

## Applying the model

In [51]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(xTrain, yTrain)

LinearRegression()

In [52]:
yPred = lr.predict(xTest)
yPred

array([3240., 3616., 6344., 3472., 3784., 1752., 1648., 2488., 3344.,
       6920., 2864.,  848., 4296., 7024., 5752., 3552., 5200., 3648.,
       4856., 4416., 1808., 5160., 3264., 2720., 4008., 3736., 6400.,
       5832., 4232., 1832., 2672., 5064.,  720., 3360., 3424., 1520.,
       3776., 4552., 4312., 2704., 3280., 4344., 7368., 7000., 4112.,
       4248., 3872., 1408., 3792., 4488., 3856., 6920., 6576., 2640.,
       2960., 3720., 7032., 3696., 1168., 5000., 6200., 6432., 4760.,
       2368., 2664., 6856., 5848., 6784., 5480., 6352., 6888., 6784.,
       5312., 4104., 4208., 6616., 6336., 6408., 3968., 5368., 6160.,
       6744., 4032., 3360., 4936., 1408., 5536., 6472., 3712., 7352.,
       6744., 3440., 5048., 4336., 4400., 4992., 4112., 6648., 6856.,
       6192., 4160., 7216., 1864., 4968., 4672., 5664., 6408., 6048.,
       4560., 1336., 6712., 5664., 1912., 5072.,  928., 3376., 3336.,
       4656., 5328., 2704., 4624., 3736., 3600., 2968., 4488., 6736.,
       6256., 5888., 1432., 3920., 3824., 5040., 4472., 4360.,  992.,
       7048., 7000., 3088., 2960., 5616., 7360., 5744., 2096., 2816.,
       4040., 2688., 4032., 3264., 4176., 2960., 4632., 3640., 4840.,
       6384., 1936., 2736., 3432., 3760., 3048.,  752., 5032., 4960.,
       1720., 5752., 4016., 6768., 3024., 3608., 5592., 3504., 7056.,
       3808., 5304., 4304., 3792., 5208., 2416., 2656., 6984., 2064.,
       5056., 6296., 3664., 4864., 6840., 6816., 1008., 4256., 5280.,
       5968., 4648., 5960., 5936., 3376., 6888., 5520., 6848., 3880.,
       3344., 4368., 3056., 2136., 6128., 7000., 3472., 1792., 4696.,
       5728., 2640., 1808., 5688., 1552., 3880., 1312., 5936., 5104.,
       6432., 5976., 1104., 7112.])

### Use MSE & R**2

In [53]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

score = r2_score(yTest, yPred)
print("R**2 Score: ", score)

mse = mean_squared_error(yTest, yPred)
print("MSE: ", mse)

print("Root MSE: ", np.sqrt(mse))

R**2 Score:  0.838811322373745
MSE:  650458.8136363636
Root MSE:  806.5102687730415