<center>
    <h1> Drug Prediction </h1>
    <h3> use: <tt> Multiclass Classificatin </tt> </h3>

</center>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset/drug200.csv')

df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [3]:
x = df[['Sex', 'BP', 'Cholesterol', 'Na_to_K']]
y = df[['Drug']]

In [4]:
x.head()

  Sex      BP Cholesterol  Na_to_K
0   F    HIGH        HIGH   25.355
1   M     LOW        HIGH   13.093
2   M     LOW        HIGH   10.114
3   F  NORMAL        HIGH    7.798
4   F     LOW        HIGH   18.043

In [5]:
sexList = list(x['Sex'].unique())
bp = list(x['BP'].unique())
chol = list(x['Cholesterol'].unique())

In [6]:
for s in range(0, len(sexList)):
    x['Sex'].replace(sexList[s], s, inplace=True)
    
for s in range(0, len(bp)):
    x['BP'].replace(bp[s], s, inplace=True)
    
for s in range(0, len(chol)):
    x['Cholesterol'].replace(chol[s], s, inplace=True)

/tmp/ipykernel_1613/3724174618.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Sex'].replace(sexList[s], s, inplace=True)
/tmp/ipykernel_1613/3724174618.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['BP'].replace(bp[s], s, inplace=True)
/tmp/ipykernel_1613/3724174618.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Cholesterol'].replace(chol[s], s, inplace=True)

In [7]:
x.head()

   Sex  BP  Cholesterol  Na_to_K
0    0   0            0   25.355
1    1   1            0   13.093
2    1   1            0   10.114
3    0   2            0    7.798
4    0   1            0   18.043

In [8]:
drugList = list(y['Drug'].unique())

for s in range(0, len(drugList)):
    y['Drug'].replace(drugList[s], s, inplace=True)
    
y.head()

/tmp/ipykernel_1613/90306962.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['Drug'].replace(drugList[s], s, inplace=True)

   Drug
0     0
1     1
2     1
3     2
4     0

In [9]:
# split into Train and Test
from sklearn.model_selection import train_test_split

xTrain, xTest, yTrain, yTest = train_test_split(x, y)

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

<center>
    <tt> Logistic Regression </tt>
</center>

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

In [10]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(xTrain, yTrain)

/home/cskushal18/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/cskushal18/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [11]:
yPred = lr.predict(xTest)

In [12]:
# Metrics
from sklearn.metrics import jaccard_score, precision_recall_fscore_support

am = jaccard_score(yTest, yPred, average=None)
prfs = precision_recall_fscore_support(yTest, yPred, average="macro")

print("Accuracy Matrics: ", am)
print("Precision: ", prfs[0])
print("Recall: ", prfs[1])

Accuracy Matrics:  [0.96153846 0.75       0.84615385 0.44444444 0.        ]
Precision:  0.7356410256410257
Recall:  0.6333333333333333

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

<center>
    <tt> KNN Classifier </tt>
</center>

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

In [13]:
from sklearn.neighbors import KNeighborsClassifier
k = 4

neigh = KNeighborsClassifier(n_neighbors=k)
neigh.fit(xTrain, yTrain)

/home/cskushal18/.local/lib/python3.10/site-packages/sklearn/neighbors/_classification.py:200: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=4)

In [14]:
yPred = neigh.predict(xTest)

In [15]:
am = jaccard_score(yTest, yPred, average=None)
prfs = precision_recall_fscore_support(yTest, yPred, average="macro")

print("Accuracy Matrics: ", am)
print("Precision: ", prfs[0])
print("Recall: ", prfs[1])

Accuracy Matrics:  [0.96153846 0.33333333 0.78571429 0.33333333 0.        ]
Precision:  0.6115384615384616
Recall:  0.5583333333333333

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

<center>
    <tt> Decision Tree </tt>
</center>

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

In [16]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(criterion="entropy", max_depth=4)
dt.fit(xTrain, yTrain)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [17]:
yPred = dt.predict(xTest)

In [18]:
am = jaccard_score(yTest, yPred, average=None)
prfs = precision_recall_fscore_support(yTest, yPred, average="macro")

print("Accuracy Matrics: ", am)
print("Precision: ", prfs[0])
print("Recall: ", prfs[1])

Accuracy Matrics:  [0.96153846 1.         0.91666667 0.88888889 0.        ]
Precision:  0.7700854700854701
Recall:  0.7833333333333333

/home/cskushal18/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

<center>
    <tt> ANN </tt>
</center>

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

In [19]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

xTrain = sc.fit_transform(xTrain)
xTest = sc.transform(xTest)

In [20]:
xTrain.shape

(150, 4)

In [21]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU, PReLU, ELU

2022-10-11 23:15:13.814113: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-10-11 23:15:17.045898: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2022-10-11 23:15:22.977583: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-10-11 23:15:22.977853: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-10-11 23:15:22.977864: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [22]:
classifier = Sequential()

# First Hidden layer
classifier.add(Dense(units=6, kernel_initializer="he_uniform", activation="relu", input_dim=4))

# Second Hidden Layer
classifier.add(Dense(units=6, kernel_initializer="he_uniform", activation="relu"))

# Output Layer
classifier.add(Dense(units=1, kernel_initializer="glorot_uniform", activation="sigmoid"))

2022-10-11 23:15:31.285046: E tensorflow/stream_executor/cuda/cuda_driver.cc:265] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
2022-10-11 23:15:31.285134: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (cskushal18): /proc/driver/nvidia/version does not exist
2022-10-11 23:15:31.296591: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [23]:
classifier.compile(optimizer="Adam", loss="binary_crossentropy", metrics=['accuracy'])

In [24]:
model_history = classifier.fit(xTrain, yTrain, validation_split=0.3, batch_size=10, epochs=10)

Epoch 1/10
11/11 [==============================] - 1s 21ms/step - loss: 0.4568 - accuracy: 0.0762 - val_loss: 0.5003 - val_accuracy: 0.0889
Epoch 2/10
11/11 [==============================] - 0s 6ms/step - loss: 0.3387 - accuracy: 0.0667 - val_loss: 0.4157 - val_accuracy: 0.1111
Epoch 3/10
11/11 [==============================] - 0s 8ms/step - loss: 0.2345 - accuracy: 0.0762 - val_loss: 0.3294 - val_accuracy: 0.0889
Epoch 4/10
11/11 [==============================] - 0s 8ms/step - loss: 0.1281 - accuracy: 0.0762 - val_loss: 0.2519 - val_accuracy: 0.0889
Epoch 5/10
11/11 [==============================] - 0s 7ms/step - loss: 0.0197 - accuracy: 0.0762 - val_loss: 0.1759 - val_accuracy: 0.0889
Epoch 6/10
11/11 [==============================] - 0s 9ms/step - loss: -0.0765 - accuracy: 0.0762 - val_loss: 0.1003 - val_accuracy: 0.0889
Epoch 7/10
11/11 [==============================] - 0s 7ms/step - loss: -0.1830 - accuracy: 0.0762 - val_loss: 0.0317 - val_accuracy: 0.0889
Epoch 8/10
11/11 [==============================] - 0s 8ms/step - loss: -0.2761 - accuracy: 0.0762 - val_loss: -0.0427 - val_accuracy: 0.0889
Epoch 9/10
11/11 [==============================] - 0s 10ms/step - loss: -0.3798 - accuracy: 0.0762 - val_loss: -0.1117 - val_accuracy: 0.0889
Epoch 10/10
11/11 [==============================] - 0s 7ms/step - loss: -0.4768 - accuracy: 0.0762 - val_loss: -0.1809 - val_accuracy: 0.0889

In [25]:
yPred = classifier.predict(xTest)
print(yPred)

2/2 [==============================] - 0s 2ms/step
[[0.8855801 ]
 [0.65794176]
 [0.9304152 ]
 [0.5673346 ]
 [0.924878  ]
 [0.59139025]
 [0.98195064]
 [0.5810713 ]
 [0.5810713 ]
 [0.624394  ]
 [0.9761024 ]
 [0.79499006]
 [0.6900067 ]
 [0.688134  ]
 [0.82116526]
 [0.7374914 ]
 [0.5844487 ]
 [0.5977816 ]
 [0.5943367 ]
 [0.6525146 ]
 [0.9143478 ]
 [0.62244135]
 [0.98195577]
 [0.9777098 ]
 [0.8387898 ]
 [0.9820936 ]
 [0.59198564]
 [0.7486871 ]
 [0.71726483]
 [0.76817846]
 [0.8759857 ]
 [0.9099997 ]
 [0.9818382 ]
 [0.9147495 ]
 [0.9267107 ]
 [0.81443214]
 [0.79323024]
 [0.73559564]
 [0.68558085]
 [0.54448515]
 [0.5944271 ]
 [0.9209388 ]
 [0.59212655]
 [0.6875111 ]
 [0.77479327]
 [0.58284396]
 [0.6771056 ]
 [0.92524374]
 [0.7709625 ]
 [0.5463729 ]]

In [26]:
yPred = (yPred > 0.5)

In [27]:
am = jaccard_score(yTest, yPred, average=None)
prfs = precision_recall_fscore_support(yTest, yPred, average="macro")

print("Accuracy Matrics: ", am)
print("Precision: ", prfs[0])
print("Recall: ", prfs[1])

Accuracy Matrics:  [0.   0.08 0.   0.   0.  ]
Precision:  0.016
Recall:  0.2

/home/cskushal18/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

<center>
    <h1> Credit Fraud Detection </h1>
    <h3> use: <tt> Binary Classificatin </tt> </h3>

</center>

In [28]:
df = pd.read_csv("dataset/UCI_Credit_Card.csv")

df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [29]:
df = df.drop(["AGE"], axis=1)

df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

<center>
    <tt> Logistic Regression </tt>
</center>

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

In [30]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [31]:
xTrain, xTest, yTrain, yTest = train_test_split(x, y)

In [32]:
lr.fit(xTrain, yTrain)

LogisticRegression()

In [33]:
yPred = lr.predict(xTest)

In [34]:
am = jaccard_score(yTest, yPred)
prfs = precision_recall_fscore_support(yTest, yPred, average="macro")

print("Accuracy Matrics: ", am)
print("Precision: ", prfs[0])
print("Recall: ", prfs[1])

Accuracy Matrics:  0.0
Precision:  0.38253333333333334
Recall:  0.5

/home/cskushal18/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

<center>
    <tt> KNN Classifier </tt>
</center>

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

In [35]:
neigh = KNeighborsClassifier(n_neighbors=k)
neigh.fit(xTrain, yTrain)

KNeighborsClassifier(n_neighbors=4)

In [36]:
yPred = neigh.predict(xTest)

In [37]:
am = jaccard_score(yTest, yPred)
prfs = precision_recall_fscore_support(yTest, yPred, average="macro")

print("Accuracy Matrics: ", am)
print("Precision: ", prfs[0])
print("Recall: ", prfs[1])

Accuracy Matrics:  0.08656716417910448
Precision:  0.5939825559205548
Recall:  0.5277653922374247

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

<center>
    <tt> Decision Tree </tt>
</center>

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

In [38]:
dt = DecisionTreeClassifier(criterion="entropy", max_depth=4)
dt.fit(xTrain, yTrain)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [39]:
yPred = dt.predict(xTest)

In [40]:
am = jaccard_score(yTest, yPred)
prfs = precision_recall_fscore_support(yTest, yPred, average="macro")

print("Accuracy Matrics: ", am)
print("Precision: ", prfs[0])
print("Recall: ", prfs[1])

Accuracy Matrics:  0.3143552311435523
Precision:  0.7589349496224422
Recall:  0.6577828713449853

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

<center>
    <tt> ANN </tt>
</center>

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

In [41]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

xTrain = sc.fit_transform(xTrain)
xTest = sc.transform(xTest)

In [42]:
xTrain.shape

(22500, 23)

In [43]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU, PReLU, ELU

In [44]:
classifier = Sequential()

# First Hidden layer
classifier.add(Dense(units=6, kernel_initializer="he_uniform", activation="relu", input_dim=23))

# Second Hidden Layer
classifier.add(Dense(units=6, kernel_initializer="he_uniform", activation="relu"))

# Output Layer
classifier.add(Dense(units=1, kernel_initializer="glorot_uniform", activation="sigmoid"))

In [45]:
classifier.compile(optimizer="Adam", loss="binary_crossentropy", metrics=['accuracy'])

In [46]:
model_history = classifier.fit(xTrain, yTrain, validation_split=0.3, batch_size=10, epochs=10)

Epoch 1/10
1575/1575 [==============================] - 4s 3ms/step - loss: 0.5089 - accuracy: 0.7809 - val_loss: 0.4828 - val_accuracy: 0.7803
Epoch 2/10
1575/1575 [==============================] - 4s 2ms/step - loss: 0.4561 - accuracy: 0.8041 - val_loss: 0.4561 - val_accuracy: 0.8114
Epoch 3/10
1575/1575 [==============================] - 3s 2ms/step - loss: 0.4431 - accuracy: 0.8168 - val_loss: 0.4515 - val_accuracy: 0.8123
Epoch 4/10
1575/1575 [==============================] - 5s 3ms/step - loss: 0.4387 - accuracy: 0.8190 - val_loss: 0.4494 - val_accuracy: 0.8123
Epoch 5/10
1575/1575 [==============================] - 4s 2ms/step - loss: 0.4360 - accuracy: 0.8212 - val_loss: 0.4474 - val_accuracy: 0.8154
Epoch 6/10
1575/1575 [==============================] - 4s 3ms/step - loss: 0.4340 - accuracy: 0.8230 - val_loss: 0.4435 - val_accuracy: 0.8144
Epoch 7/10
1575/1575 [==============================] - 4s 3ms/step - loss: 0.4321 - accuracy: 0.8232 - val_loss: 0.4419 - val_accuracy: 0.8157
Epoch 8/10
1575/1575 [==============================] - 5s 3ms/step - loss: 0.4310 - accuracy: 0.8228 - val_loss: 0.4430 - val_accuracy: 0.8168
Epoch 9/10
1575/1575 [==============================] - 4s 2ms/step - loss: 0.4295 - accuracy: 0.8231 - val_loss: 0.4414 - val_accuracy: 0.8162
Epoch 10/10
1575/1575 [==============================] - 4s 3ms/step - loss: 0.4290 - accuracy: 0.8236 - val_loss: 0.4418 - val_accuracy: 0.8162

In [47]:
yPred = classifier.predict(xTest)

235/235 [==============================] - 0s 1ms/step

In [48]:
yPred = (yPred > 0.5)

In [49]:
am = jaccard_score(yTest, yPred)
prfs = precision_recall_fscore_support(yTest, yPred, average="macro")

print("Accuracy Matrics: ", am)
print("Precision: ", prfs[0])
print("Recall: ", prfs[1])

Accuracy Matrics:  0.313600782778865
Precision:  0.7620160442897381
Recall:  0.6573225512533881

<center>
    <h1> Metro Interstate Traffic Volume Data set </h1>
    <h3> use: <tt> Regression </tt> </h3>

</center>

In [50]:
df = pd.read_csv("dataset/Metro_Interstate_Traffic_Volume.csv")

df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,None,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,None,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,None,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,None,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [51]:
df['weather_description'] = df['weather_description'].str.lower()
df['weather_main'] = df['weather_main'].str.lower()

df['date_time'] = df['date_time'].str.slice(0, 10)

df['holiday'] = np.where(df['holiday'] == 'None', "0", "1")

df

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,0,288.28,0.0,0.0,40,clouds,scattered clouds,2012-10-02,5545
1,0,289.36,0.0,0.0,75,clouds,broken clouds,2012-10-02,4516
2,0,289.58,0.0,0.0,90,clouds,overcast clouds,2012-10-02,4767
3,0,290.13,0.0,0.0,90,clouds,overcast clouds,2012-10-02,5026
4,0,291.14,0.0,0.0,75,clouds,broken clouds,2012-10-02,4918
...,...,...,...,...,...,...,...,...,...
48199,0,283.45,0.0,0.0,75,clouds,broken clouds,2018-09-30,3543
48200,0,282.76,0.0,0.0,90,clouds,overcast clouds,2018-09-30,2781
48201,0,282.73,0.0,0.0,90,thunderstorm,proximity thunderstorm,2018-09-30,2159
48202,0,282.09,0.0,0.0,90,clouds,overcast clouds,2018-09-30,1450
48203,0,282.12,0.0,0.0,90,clouds,overcast clouds,2018-09-30,954

In [52]:
holidayDate = list(df[df['holiday'] == 1]['date_time'])

for hd in holidayDate:
    df.loc[df['date_time'] == hd, 'holiday'] = "1"
    
df

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,0,288.28,0.0,0.0,40,clouds,scattered clouds,2012-10-02,5545
1,0,289.36,0.0,0.0,75,clouds,broken clouds,2012-10-02,4516
2,0,289.58,0.0,0.0,90,clouds,overcast clouds,2012-10-02,4767
3,0,290.13,0.0,0.0,90,clouds,overcast clouds,2012-10-02,5026
4,0,291.14,0.0,0.0,75,clouds,broken clouds,2012-10-02,4918
...,...,...,...,...,...,...,...,...,...
48199,0,283.45,0.0,0.0,75,clouds,broken clouds,2018-09-30,3543
48200,0,282.76,0.0,0.0,90,clouds,overcast clouds,2018-09-30,2781
48201,0,282.73,0.0,0.0,90,thunderstorm,proximity thunderstorm,2018-09-30,2159
48202,0,282.09,0.0,0.0,90,clouds,overcast clouds,2018-09-30,1450
48203,0,282.12,0.0,0.0,90,clouds,overcast clouds,2018-09-30,954

In [53]:
lolM = "Clear < Clouds < Smoke < Haze < Fog < Mist < Drizzle < Rain < Thunderstorm < Snow < Squall".lower().split(" < ")

lolM

['clear',
 'clouds',
 'smoke',
 'haze',
 'fog',
 'mist',
 'drizzle',
 'rain',
 'thunderstorm',
 'snow',
 'squall']

In [54]:
lol = "sky is clear < few clouds < scattered clouds < broken clouds < overcast clouds < Proximity Thunderstorm < Thunderstorm < smoke < haze < fog < mist < shower drizzle < light intensity drizzle < light drizzle < drizzle < heavy intensity drizzle < heavy drizzle < Proximity Thunderstorm with drizzle < Thunderstorm with light drizzle < Thunderstorm with drizzle < Thunderstorm with heavy drizzle < Proximity shower rain < light intensity shower rain < light intensity rain < light rain < moderate rain < heavy intensity rain < very heavy rain < freezing rain < Proximity thunderstorm with rain < thunderstorm with light rain < thunderstorm with rain < thunderstorm with heavy rain < light rain and snow < sleet < light shower snow < shower snow < light snow < snow < heavy snow < squalls".lower().split(" < ")

lol

['sky is clear',
 'few clouds',
 'scattered clouds',
 'broken clouds',
 'overcast clouds',
 'proximity thunderstorm',
 'thunderstorm',
 'smoke',
 'haze',
 'fog',
 'mist',
 'shower drizzle',
 'light intensity drizzle',
 'light drizzle',
 'drizzle',
 'heavy intensity drizzle',
 'heavy drizzle',
 'proximity thunderstorm with drizzle',
 'thunderstorm with light drizzle',
 'thunderstorm with drizzle',
 'thunderstorm with heavy drizzle',
 'proximity shower rain',
 'light intensity shower rain',
 'light intensity rain',
 'light rain',
 'moderate rain',
 'heavy intensity rain',
 'very heavy rain',
 'freezing rain',
 'proximity thunderstorm with rain',
 'thunderstorm with light rain',
 'thunderstorm with rain',
 'thunderstorm with heavy rain',
 'light rain and snow',
 'sleet',
 'light shower snow',
 'shower snow',
 'light snow',
 'snow',
 'heavy snow',
 'squalls']

In [55]:
for i in range(0, len(lolM)):
    df['weather_main'].replace(lolM[i], i, inplace=True)
    
df

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,0,288.28,0.0,0.0,40,1,scattered clouds,2012-10-02,5545
1,0,289.36,0.0,0.0,75,1,broken clouds,2012-10-02,4516
2,0,289.58,0.0,0.0,90,1,overcast clouds,2012-10-02,4767
3,0,290.13,0.0,0.0,90,1,overcast clouds,2012-10-02,5026
4,0,291.14,0.0,0.0,75,1,broken clouds,2012-10-02,4918
...,...,...,...,...,...,...,...,...,...
48199,0,283.45,0.0,0.0,75,1,broken clouds,2018-09-30,3543
48200,0,282.76,0.0,0.0,90,1,overcast clouds,2018-09-30,2781
48201,0,282.73,0.0,0.0,90,8,proximity thunderstorm,2018-09-30,2159
48202,0,282.09,0.0,0.0,90,1,overcast clouds,2018-09-30,1450
48203,0,282.12,0.0,0.0,90,1,overcast clouds,2018-09-30,954

In [56]:
for i in range(0, len(lol)):
    df['weather_description'].replace(lol[i], i, inplace=True)
    
df

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,0,288.28,0.0,0.0,40,1,2,2012-10-02,5545
1,0,289.36,0.0,0.0,75,1,3,2012-10-02,4516
2,0,289.58,0.0,0.0,90,1,4,2012-10-02,4767
3,0,290.13,0.0,0.0,90,1,4,2012-10-02,5026
4,0,291.14,0.0,0.0,75,1,3,2012-10-02,4918
...,...,...,...,...,...,...,...,...,...
48199,0,283.45,0.0,0.0,75,1,3,2018-09-30,3543
48200,0,282.76,0.0,0.0,90,1,4,2018-09-30,2781
48201,0,282.73,0.0,0.0,90,8,5,2018-09-30,2159
48202,0,282.09,0.0,0.0,90,1,4,2018-09-30,1450
48203,0,282.12,0.0,0.0,90,1,4,2018-09-30,954

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48204 entries, 0 to 48203
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   holiday              48204 non-null  object
 1   temp                 48204 non-null  float64
 2   rain_1h              48204 non-null  float64
 3   snow_1h              48204 non-null  float64
 4   clouds_all           48204 non-null  int64
 5   weather_main         48204 non-null  int64
 6   weather_description  48204 non-null  int64
 7   date_time            48204 non-null  object
 8   traffic_volume       48204 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 3.3+ MB

In [58]:
df['holiday'] = df['holiday'].astype('int')
df['weather_description'] = df['weather_description'].astype("int")
df['weather_main'] = df['weather_main'].astype("int")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48204 entries, 0 to 48203
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   holiday              48204 non-null  int64
 1   temp                 48204 non-null  float64
 2   rain_1h              48204 non-null  float64
 3   snow_1h              48204 non-null  float64
 4   clouds_all           48204 non-null  int64
 5   weather_main         48204 non-null  int64
 6   weather_description  48204 non-null  int64
 7   date_time            48204 non-null  object
 8   traffic_volume       48204 non-null  int64
dtypes: float64(3), int64(5), object(1)
memory usage: 3.3+ MB

In [59]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

<center>
    <tt> Multi-Linear Regression </tt>
</center>

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

In [60]:
tar = "traffic_volume"

zList = []

for b in list(df.columns):
    if b != tar and b != "date_time":
        zList.append(b)
        
z = df[[
    *(x for x in zList)
]]

z

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description
0,0,288.28,0.0,0.0,40,1,2
1,0,289.36,0.0,0.0,75,1,3
2,0,289.58,0.0,0.0,90,1,4
3,0,290.13,0.0,0.0,90,1,4
4,0,291.14,0.0,0.0,75,1,3
...,...,...,...,...,...,...,...
48199,0,283.45,0.0,0.0,75,1,3
48200,0,282.76,0.0,0.0,90,1,4
48201,0,282.73,0.0,0.0,90,8,5
48202,0,282.09,0.0,0.0,90,1,4
48203,0,282.12,0.0,0.0,90,1,4

In [61]:
from sklearn.linear_model import LinearRegression

lm = LinearRegression()

In [62]:
lm.fit(z, df[tar])

LinearRegression()

In [63]:
print("Intercept: ", lm.intercept_, " whereas, slope: ", lm.coef_)

Intercept:  -2999.222245113267  whereas, slope:  [-2.30586309e+03  2.17945193e+01  1.60819004e-01  7.75371861e+02
  7.07651495e+00 -1.23954347e+02  1.64354761e+01]

In [64]:
yPred = lm.predict(z)

print("Predicated value\tActual value\n\n")

for i in range(0, 5):
    print(yPred[i], "\t", y[i])

Predicated value	Actual value


3475.6789792574696 	 5545
3763.330559352096 	 4516
3890.7085539158766 	 4767
3902.6955395269547 	 5026
3802.1248036934016 	 4918

In [65]:
# Metrics
from sklearn.metrics import mean_squared_error, r2_score

In [66]:
print("R^2 Score: ", r2_score(df[tar], yPred))
print("MSE: ", mean_squared_error(df[tar], yPred))

R^2 Score:  0.03477460746877037
MSE:  3810259.504337691

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

<center>
    <tt> Polynomial Regression </tt>
</center>

<center>
    <tt>
        --------------------------------------------------------------------------------------------
    </tt>
</center>

In [67]:
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.pipeline import Pipeline

In [68]:
ipt = [('Scale', StandardScaler()), ('Polynomial', PolynomialFeatures(2)), ('Model', LinearRegression())]

pipe = Pipeline(ipt)
pipe

Pipeline(steps=[('Scale', StandardScaler()),
                ('Polynomial', PolynomialFeatures()),
                ('Model', LinearRegression())])

In [69]:
pipe.fit(z, y)

Pipeline(steps=[('Scale', StandardScaler()),
                ('Polynomial', PolynomialFeatures()),
                ('Model', LinearRegression())])

In [70]:
yPipe = pipe.predict(z)

print("Predicated Value\tActual Value\n\n")
for i in range(0, 5):
    print(yPipe[i], "\t", y[i])

Predicated Value	Actual Value


3836.802764892578 	 5545
3930.2606201171875 	 4516
3760.955612182617 	 4767
3777.313461303711 	 5026
3981.920944213867 	 4918

In [71]:
print("R^2 Score: ", r2_score(df[tar], yPipe))
print("MSE: ", mean_squared_error(df[tar], yPipe))

R^2 Score:  0.046663375208083946
MSE:  3763328.1962472675

In [72]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [73]:
y = df['traffic_volume']

xList = []

for b in list(df.columns):
    if b != tar and b != "date_time":
        xList.append(b)
        
x = df[[
    *(l for l in xList)
]]

x

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description
0,0,288.28,0.0,0.0,40,1,2
1,0,289.36,0.0,0.0,75,1,3
2,0,289.58,0.0,0.0,90,1,4
3,0,290.13,0.0,0.0,90,1,4
4,0,291.14,0.0,0.0,75,1,3
...,...,...,...,...,...,...,...
48199,0,283.45,0.0,0.0,75,1,3
48200,0,282.76,0.0,0.0,90,1,4
48201,0,282.73,0.0,0.0,90,8,5
48202,0,282.09,0.0,0.0,90,1,4
48203,0,282.12,0.0,0.0,90,1,4

In [74]:
from sklearn.model_selection import train_test_split

xTrain, xTest, yTrain, yTest = train_test_split(x, y)

print(x.shape)

(48204, 7)

In [75]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
xTrain = sc.fit_transform(xTrain)
xTest = sc.transform(xTest)

In [76]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU, PReLU, ELU

In [77]:
classifier = Sequential()

# First Hidden Layer
classifier.add(Dense(units=6, kernel_initializer='he_uniform', activation='relu', input_dim=7))

# Second Hidden Layer
classifier.add(Dense(units=6, kernel_initializer='he_uniform', activation='relu'))

# Output Layer
classifier.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))

In [78]:
classifier.compile(optimizer='Adam', loss='mean_squared_error', metrics=['accuracy'])

model_history = classifier.fit(xTrain, yTrain, batch_size=10, epochs=10)

Epoch 1/10
3616/3616 [==============================] - 8s 2ms/step - loss: 14519946.0000 - accuracy: 1.3830e-04
Epoch 2/10
3616/3616 [==============================] - 6s 2ms/step - loss: 14519796.0000 - accuracy: 1.3830e-04
Epoch 3/10
3616/3616 [==============================] - 6s 2ms/step - loss: 14519807.0000 - accuracy: 1.3830e-04
Epoch 4/10
3616/3616 [==============================] - 6s 2ms/step - loss: 14519831.0000 - accuracy: 1.3830e-04
Epoch 5/10
3616/3616 [==============================] - 6s 2ms/step - loss: 14519830.0000 - accuracy: 1.3830e-04
Epoch 6/10
3616/3616 [==============================] - 6s 2ms/step - loss: 14519830.0000 - accuracy: 1.3830e-04
Epoch 7/10
3616/3616 [==============================] - 6s 2ms/step - loss: 14519818.0000 - accuracy: 1.3830e-04
Epoch 8/10
3616/3616 [==============================] - 10s 3ms/step - loss: 14519821.0000 - accuracy: 1.3830e-04
Epoch 9/10
3616/3616 [==============================] - 6s 2ms/step - loss: 14519816.0000 - accuracy: 1.3830e-04
Epoch 10/10
3616/3616 [==============================] - 6s 2ms/step - loss: 14519821.0000 - accuracy: 1.3830e-04

In [79]:
yPred = classifier.predict(xTest)

377/377 [==============================] - 0s 1ms/step

In [80]:
print(yPred)

[[1.]
 [1.]
 [1.]
 ...
 [1.]
 [1.]
 [1.]]

In [81]:
print("R^2 Score: ", r2_score(yTest, yPred))
print("MSE: ", mean_squared_error(yTest, yPred))

R^2 Score:  -2.7271167502089773
MSE:  14710251.0073023